/*
name  	: chop.css
git 	: https://github.com/pffy/sealchop-generator
*/

body {
	background-color: white;
	color: black;
}

div {
	margin: 8px;
}

h1 {
	font-size: 28pt;
	font-family: arial;
}

#chop {
	width: 200px;
}

#copybtn {
	font-weight: bold;
	width: 200px;
	font-size: 12pt;
	margin:0px;
	margin-top: 10px;
}

#wrap {
	text-align: left;
	width: 220px;
}

#xm {
	font-size: 35pt;
	width: 200px;
}
